<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>ProkletApp</name>
    <description>
        App 4 Fun
    </description>
    <author email="kitchenknife@hotmail.com" href="www.google.com">
        Marco G.
    </author>
    <content src="index.html" />
    
    <access origin="*" />
</widget>
